# INTELLIJ IDEA (Primary IDE)
.idea/
*.iml
*.ipr
*.iws
out/

# GRADLE (Project Build System)
.gradle/
build/

# MINECRAFT & FORGE (Logs and Runs)
/run/
/runs/
/logs/
/.cache/
forge*changelog.txt

# ECLIPSE (Alternative IDE)
.eclipse/
.settings/
.metadata/
.classpath/
.project/
bin/
*.launch