# INTELLIJ IDEA (Основная IDE)
.idea/
*.iml
*.ipr
*.iws
out/

# GRADLE (Сборщик проекта)
.gradle/
build/

# MINECRAFT & FORGE (Логи и запуски)
/run/
/runs/
/logs/
/.cache/
forge*changelog.txt

# ECLIPSE (Альтернативная IDE)
.eclipse/
.settings/
.metadata/
.classpath/
.project/
bin/
*.launch