# ==========================================
# FORGE ACCESS TRANSFORMER (AT)
# ==========================================

# Этот файл меняет правила доступа к закрытому коду Minecraft.
# Сюда добавляются приватные (private / protected) или финальные (final)
# методы и поля игры, чтобы сделать их публичными (public) и доступными для нашего мода.

# Формат записи:
# <новый_доступ> <полный_путь_к_классу> <имя_поля_или_метода>(дескриптор) # комментарий